$logo-image-width: 32px;

.app-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(#fff, 0.3);

  &__content {
    @extend %content-container;
    display: table;
    padding: 16px;
  }

  &__menu,
  &__logo-link {
    display: table-cell;
    width: auto;
    vertical-align: middle;
  }

  &__logo-link {
    width: $logo-image-width;
  }

  &__logo-image {
    display: block;
    width: 100%;
  }

  &__menu {
    width: calc(100% - #{$logo-image-width});
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
  }

  &__menu-link {
    color: #333;

    &:hover {
      color: darken(#333, 10%);
    }
  }
}
