.cards-list {
  @extend %reset-list;

  &__item {
    display: block;
    width: 100%;
    border-bottom: 1px solid #c3c3c3;

    &:hover {

    }
  }

  &__link {
    display: block;
    box-sizing: border-box;
    padding: 32px 8px;
    color: $colors-black;
    transition: color $transition-duration;

    &:hover {
      color: lighten($colors-black, 15%);
    }
  }

  &__heading {
    margin: 0;
    padding-bottom: 8px;
  }
}
