.map {
  width: 100%;
  height: 100vh;

  &__filters {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 100px 20px;
  }

  &__filters-heading {
    margin: 0;
    font-size: 20px;
    color: #f3f3f3;
    font-weight: 300;
    text-transform: uppercase;
  }
}
