.page {
  @extend %content-container;
  padding: 100px 20px;

  &__content {
    width: 100%;
    max-width: 760px;
  }

  &__section {
    padding: 16px 0;
  }
}

.content-container {
  @extend %content-container;
}
