<section class="app-header">
  <section class="app-header__content">
    <a ui-sref="home" class="app-header__logo-link">
      <img src="/assets/images/icons/earthquake.svg" alt="App Logo"
           class="app-header__logo-image">
    </a>

    <ul class="app-header__menu">
      <li class="app-header__menu-item" ng-hide="$ctrl.hideLink">
        <a ui-sref="nearMe" class="app-header__menu-link">Earthquakes near you</a>
      </li>
    </ul>
  </section>
</section>

