<section class="map" id="map"></section>

<div class="map__filters">
  <h2 class="map__filters-heading">Filters</h2>
  <div class="checkbox">
    <input type="checkbox" id="nearCitiesFilter"
           class="checkbox__input"
           ng-model="$ctrl.nearCitiesFilter"
           ng-change="$ctrl.onFilterChange()" selected>
    <label for="nearCitiesFilter" class="checkbox__label">Earthquakes Near Cities</label>
  </div>

  <div class="checkbox">
    <input type="checkbox" id="strongEarthquakesFilter"
           class="checkbox__input"
           ng-model="$ctrl.strongEarthquakesFilter"
           ng-change="$ctrl.onFilterChange()">
    <label for="strongEarthquakesFilter" class="checkbox__label">Strong Earthquakes</label>
  </div>
</div>

