<app-header hide-link="$ctrl.linkDisabled"></app-header>
<section class="page">
  <section class="page__content">
    <h1 class="page-heading" ng-if="!$ctrl.locationUnkown">Earthquakes near you<span ng-if="!$ctrl.loading && $ctrl.earthquakesNearBy.length">: {{ $ctrl.earthquakesNearBy.length }}</span></h1>

    <h1 class="page-heading" ng-if="!$ctrl.loading && $ctrl.locationUnkown">
      Earthquakes
    </h1>

    <section ng-if="$ctrl.loading">Loading...</section>

    <section ng-if="!$ctrl.loading">
      <section ng-if="!$ctrl.locationUnkown">
        <cards-list ng-if="$ctrl.earthquakesNearBy.length" cardsdata="$ctrl.earthquakesNearBy"></cards-list>

        <section ng-if="!$ctrl.locationUnkown && !$ctrl.earthquakesNearBy.length">
          <h2>There are no earthquakes in {{ $ctrl.distance }}km around you! This is great news!</h2>
        </section>
      </section>

      <section ng-if="$ctrl.locationUnkown">
        <cards-list ng-if="$ctrl.earthquakes.length" cardsdata="$ctrl.earthquakes"></cards-list>
      </section>

      <section ng-if="$ctrl.error">
        <p>Something went terribly wrong...Please try again later!</p>
      </section>
    </section>
  </section>
</section>
