.checkbox {
  padding: 4px 0;

  &:first-of-type {
    padding-top: 8px;
  }

  &__label {
    position: relative;
    display: block;
    padding-left: 24px;
    color: darken(#f1f1f1, 25%);
    user-select: none;
    transition: color $transition-duration;

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: rgba(#fff, 0.3);
      margin: auto;
      content: '';
    }

    &:after {
      position: absolute;
      z-index: 2;
      top: 4px;
      left: 3px;
      display: block;
      width: 8px;
      height: 8px;
      background-color: $colors-black;
      border: 1px solid rgba(#fff, 0.3);
      border-radius: 50%;
      transition: opacity $transition-duration;
      opacity: 0;
      content: '';
    }

    &:hover {
      cursor: pointer;
      color: #f1f1f1;
    }
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;

    &:checked {
      & + .checkbox__label {
        color: #f1f1f1;
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
