<ul class="cards-list" ng-if="$ctrl.cardsdata.length">
  <li ng-repeat="earthquake in $ctrl.cardsdata"
      class="cards-list__item">
    <a href="{{ earthquake.properties.url }}" target="_blank"
       class="cards-list__link">
      <h2 class="cards-list__heading">{{ earthquake.properties.title }}</h2>
      <div>
        <label>Time: </label><span>{{ $ctrl.formatTimeToUtc(earthquake.properties.time) }}</span>
      </div>
      <div>
        <label>Magnitude: </label><span>{{ earthquake.properties.mag }}</span>
      </div>
    </a>
  </li>
</ul>
